<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Quizz"/>
<stringAttribute key="abi" value="no ABIs."/>
<stringAttribute key="device-id" value="G4AZB601C5229RB"/>
<stringAttribute key="key_password" value=""/>
<stringAttribute key="keystore_alias" value=""/>
<stringAttribute key="keystore_password" value=""/>
<stringAttribute key="keystore_path" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Quizz"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.mobile.ui.androidLogLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="6.0"/>
</launchConfiguration>
